@page
@model TestRazor.Pages.Index1Model
@{
}

<div class="text-center">
    <h1 class="display-4">Alles over dieren!</h1>
    <p>Hier vind je alles over dieren</p>
    <pre>
        (()__(()
        /       \
        ( /    \  \
        \ o o    /
        (_()_)__/ \
        / _,==.____ \
        (   |--|      )
        /\_.|__|'-.__/\_
        / (        /     \
        \  \      (      /
        )  '._____)    /
        (((____.--(((____/mrf
    </pre>

</div>