@page
@model TestRazor.Pages.CartoonsModel
@{
}
<div>
<h1 class="display-4">Alles over cartoons!</h1>
<p>Looney Tunes</p>
<pre>
        , ,
        /| |\
        / | | \
        | | | |     Neeaah, Whats up Doc !?!
        \ | | /
        \|w|/    /
        /_ _\   /      , 
        /\       _:()_():_       /]
        ||_     : ._=Y=_  :     / /
        [)(_\,   ',__\W/ _,'    /  \
        [) \_/\    _/'='\      /-/\)
        [_| \ \  ///  \ '._  / /
        :;   \ \///   / |  '` /
        ;::   \ `|:   : |',_.'
        """    \_|:   : |   
        |:   : |'".
        /`._.'  \/
        /  /|   /
        |  \ /  /
        '. '. /
        '. '
        / \ \
        / / \'=,
        .----' /   \ (\__ 
        snd (((____/     \ \  )
        '.\_)


</pre>

</div>