@page
@model TestRazor.Pages.EgypteModel
@{
}

<div class="text-center">
    <h1>twee gasten</h1>
    <pre>
        .--._       ||                      .----.    ||
        /     `.     ||                    .'      \   ||
        |       |     ||                    )o>   )  |  ||
        / (   o/      ||                   /_.      /   ||
        .' \    _\      ||                     \-'   |    ||
        .'    `._'        ||                      `.    \   ||
        .'        -.        ||                      .'     '. ||
        /     |     |        ||                     /   /  | | ||
        /    .'      /       .''.                   .    |  | |.''.
        |  |  |      |    .-==:==:======:============|    |  | |:==:=
        |  |  |  .--.-.  /_/  '..'     _|_           |   /   ) |'..'
        |  |  `.'   | |        ||     /.-.\          |  /  .'  | ||
        |  \    `.  / |`-._    ||     \   /          |.'  /    | ||
        |   `-._   `-.|._  `-. ||      |-|`.       .-'  .'     | ||
        |       /`-.  `::.____`...____(.-') `..---' _.-'       \ ||
        |      |    `-.._.--._''''----`| |  '-._-.'. (_________.|||
        |      |   |  |        ||      | |`. _.' .' .'----------|||
        |      |  / \ |        ||      \ /  -_.-` .' .'         |||
        |      | |  | |        ||       |       .' .'          / ||
        \      | './  '._     .--.______'_____ : .'    _......_  ||..
        `.__.(    `-._--`.-_(_________________ :    -'         `-'  `.
        `'-''---` /_/  LGB               `:.______...------- `..>

    </pre>
</div>