@page
@model TestRazor.Pages.MonstersModel
@{
}

<div class="text-center">
    <h1 class="display-4">Enge monsters</h1>
<pre>
        .-"""".
        /       \
        __ /   .-.  .\
        /  `\  /   \/  \
        |  _ \/   .==.==.
        | (   \  /____\__\
        \ \      (_()(_()
        \ \            '---._
        \                   \_
        /\ |`       (__)________/
        /  \|     /\___/
        |    \     \||VV
        |     \     \|"""",
        |      \     ______)
        \       \  /`
        jgs      \(

</pre>
</div>